* {
    color: rgb(253 252 194);
    background-color: rgb(205 76 54);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-button {
    text-decoration: none;
    align-self: flex-start;
    font-family: 'Unbounded', cursive, sans-serif;
    margin-top: 4px;
    margin-left: 8px;
}

.header {
    display: flex;
    width: auto;
    font-family: 'Unbounded', cursive, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infos {
    width: auto;
    justify-content: center;
    margin: 18px;
}

.chapter-grid-container {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
}

.chapter-grid {
    display: flex;
    width: auto;
    font-family: 'Unbounded', cursive, sans-serif;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.description-box {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.ingredients-box {
    margin: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;    
}

.steps-box {
    margin: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a:link {
    text-decoration: none;
    }
    
a:visited {
    text-decoration: none;
    }
    
a:hover {
    text-decoration: underline;
    }
    
a:active {
    text-decoration: underline;
    }