* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 198, 92);
}

.header {
  font-family: 'Unbounded', cursive, sans-serif;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

.photo-grid-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

img {
  max-width: 40vh;
}

.photo {
  flex: 1;
  margin: 20px;
}

.item1 {
  order: 1;
}

.item2 {
  order: 2;
}

.item3 {
  order: 3;
}

.item4 {
  order: 4;
}

.item5 {
  order: 5;
}
